In [1]:
import numpy as np
import pandas as pd
import nltk
nltk.download(["punkt","stopwords","wordnet"])

[nltk_data] Downloading package punkt to /Users/sr7037/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sr7037/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/sr7037/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [3]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
genres = movies["genres"]
li=[]
for i in range(len(genres)):
    temp = genres[i].lower()
    temp = temp.split("|")
    temp = [lemmatizer.lemmatize(word) for word in temp]
    li.append(" ".join(temp))

In [4]:
movies_dataset = pd.DataFrame(li,columns=["genres"],index=movies["title"])
movies_dataset

                                                                       genres
title
Toy Story (1995)                     adventure animation child comedy fantasy
Jumanji (1995)                                        adventure child fantasy
Grumpier Old Men (1995)                                        comedy romance
Waiting to Exhale (1995)                                 comedy drama romance
Father of the Bride Part II (1995)                                     comedy
...                                                                       ...
Cosmic Scrat-tastrophe (2015)                          animation child comedy
Le Grand Restaurant (1966)                                             comedy
A Very Murray Christmas (2015)                                         comedy
The Big Short (2015)                                                    drama
Marco Polo: One Hundred Eyes (2015)                        (no genres listed)

[10329 rows x 1 columns]

In [5]:
#Finding based on similar movies
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(movies_dataset["genres"]).toarray()
X

array([[0, 1, 1, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [9]:
print("Count Vector : \n",X)
print("\nNote: First row of above count vector: ",X[0])
print("\nColumns Coresponding to above count vector is :\n",cv.get_feature_names())

Count Vector :
 [[0 1 1 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

Note: First row of above count vector:  [0 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

Columns Coresponding to above count vector is :
 ['action', 'adventure', 'animation', 'child', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'fi', 'film', 'genres', 'horror', 'imax', 'listed', 'musical', 'mystery', 'no', 'noir', 'romance', 'sci', 'thriller', 'war', 'western']

In [10]:
output = movies.loc[:,['movieId','title']]
output = output.join(pd.DataFrame(X))
output

,movieId,title,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10325,146878,Le Grand Restaurant (1966),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10326,148238,A Very Murray Christmas (2015),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10327,148626,The Big Short (2015),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10328,149532,Marco Polo: One Hundred Eyes (2015),0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [19]:
#Row corresponds to a movie name
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(X) 
#Each row of matrix coressponds to similarity of a movie with all other movies (row len = 10329)

In [20]:
print(similarities)

[[1.         0.77459667 0.31622777 ... 0.4472136  0.         0.        ]
 [0.77459667 1.         0.         ... 0.         0.         0.        ]
 [0.31622777 0.         1.         ... 0.70710678 0.         0.        ]
 ...
 [0.4472136  0.         0.70710678 ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [21]:
uid = 18 #For user 18 lets recommend movies based on his recent watched movie
time = ratings.loc[ratings["userId"]==uid,["movieId","timestamp"]]
latest_movieId_watched_by_user = time.sort_values(by="timestamp",ascending=False)["movieId"].values[0]
latest_movieId_watched_by_user

8798

In [22]:
movie_index = movies.loc[movies['movieId']==latest_movieId_watched_by_user,["title"]].index[0]
output.loc[output['movieId']==8798,:]

,movieId,title,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
5801,8798,Collateral (2004),1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [23]:
movie_index,"for movie id",latest_movieId_watched_by_user

(5801, 'for movie id', 8798)

In [24]:
#we need index but we are using id to find which row is crct in similarities matrix
movie_index = movies.loc[movies['movieId']==latest_movieId_watched_by_user,["title"]].index[0]
similarity_values = pd.Series(similarities[movie_index])

In [26]:
#We converted list into series in order to preserve the actual indexes of dataset even after sorting
similarity_values.sort_values(ascending=False)

2906    1.0
7942    1.0
6531    1.0
6530    1.0
7534    1.0
       ...
4538    0.0
4536    0.0
4533    0.0
4532    0.0
0       0.0
Length: 10329, dtype: float64

In [27]:
similar_movie_indexes = list(similarity_values.sort_values(ascending=False).index)
similar_movie_indexes

[2906,
 7942,
 6531,
 6530,
 7534,
 1269,
 7887,
 9218,
 9372,
 9031,
 10190,
 7718,
 8297,
 2031,
 10203,
 10204,
 8061,
 7085,
 5379,
 6709,
 7095,
 2365,
 5153,
 5540,
 2946,
 6130,
 8076,
 6387,
 9246,
 4586,
 6077,
 8130,
 6864,
 4579,
 7489,
 1259,
 71,
 6615,
 7052,
 10129,
 7262,
 8317,
 5801,
 6117,
 2973,
 258,
 6285,
 6378,
 3821,
 806,
 8533,
 979,
 6520,
 4640,
 6462,
 2303,
 2596,
 6756,
 7115,
 3106,
 309,
 2605,
 5112,
 6959,
 5121,
 2615,
 7989,
 6234,
 9460,
 5092,
 6923,
 5369,
 8425,
 9623,
 122,
 3307,
 4283,
 8610,
 10148,
 4134,
 5826,
 3617,
 8976,
 8267,
 3911,
 1164,
 3233,
 6726,
 9179,
 4503,
 1618,
 19,
 7856,
 3969,
 343,
 7435,
 5411,
 4305,
 7438,
 3508,
 8091,
 3489,
 3625,
 2721,
 9825,
 4430,
 5254,
 600,
 8094,
 125,
 569,
 5963,
 7331,
 1371,
 8459,
 8391,
 6074,
 3515,
 8086,
 6949,
 8992,
 5329,
 9627,
 3483,
 8567,
 10049,
 4674,
 2733,
 1404,
 5777,
 1405,
 8461,
 3205,
 3206,
 7453,
 10039,
 349,
 4681,
 2734,
 9118,
 6350,
 4682,
 9811,
 1316,
 497,
 8365,
 704,
 5315,
 5021,
 3196,
 4980,
 7846,
 4595,
 6354,
 9263,
 6072,
 8550,
 3105,
 1090,
 7466,
 6342,
 10027,
 6886,
 4600,
 5284,
 3187,
 9063,
 9181,
 2192,
 7919,
 8501,
 5877,
 1097,
 4996,
 9915,
 9061,
 8502,
 1393,
 5364,
 5365,
 6924,
 5367,
 4966,
 4413,
 1730,
 8018,
 2027,
 8500,
 5004,
 9904,
 5345,
 9165,
 6932,
 141,
 1124,
 2195,
 8439,
 3578,
 6423,
 4364,
 9171,
 9893,
 7300,
 6976,
 1278,
 1383,
 7293,
 5277,
 6480,
 9772,
 9047,
 9983,
 9714,
 7322,
 852,
 160,
 8401,
 2537,
 2015,
 591,
 7884,
 7271,
 9796,
 6529,
 9847,
 4965,
 99,
 1755,
 3183,
 3824,
 4391,
 6389,
 6439,
 6995,
 9188,
 5851,
 9932,
 1302,
 8513,
 9157,
 9939,
 7386,
 9941,
 3839,
 9192,
 5011,
 7352,
 6938,
 3860,
 843,
 9034,
 7395,
 9951,
 9952,
 1748,
 8524,
 7479,
 276,
 8815,
 6159,
 6160,
 7169,
 5647,
 3737,
 2364,
 9497,
 7160,
 4096,
 3410,
 7691,
 2362,
 10235,
 7559,
 10240,
 1901,
 4188,
 5101,
 425,
 10249,
 9483,
 6698,
 7086,
 6279,
 9513,
 1334,
 2958,
 4216,
 7537,
 9527,
 9369,
 7539,
 253,
 4809,
 2817,
 5670,
 3423,
 3303,
 5528,
 4075,
 428,
 7709,
 1223,
 9514,
 10210,
 7707,
 6178,
 9403,
 6723,
 7580,
 6742,
 4517,
 3391,
 9450,
 7635,
 4519,
 404,
 6768,
 8273,
 4520,
 5126,
 6212,
 6229,
 6753,
 1802,
 5,
 10318,
 6222,
 410,
 229,
 7622,
 1205,
 1795,
 8753,
 6778,
 3405,
 7581,
 22,
 8775,
 6781,
 4769,
 8769,
 7591,
 6193,
 3344,
 7600,
 5134,
 6198,
 8701,
 524,
 2327,
 4158,
 8703,
 3395,
 7648,
 2961,
 39,
 8185,
 1519,
 6310,
 3779,
 8901,
 6856,
 8157,
 7207,
 6109,
 9579,
 9578,
 5066,
 6860,
 9575,
 3649,
 1768,
 4462,
 7513,
 4709,
 2975,
 438,
 9567,
 3634,
 2445,
 8869,
 8137,
 10076,
 6078,
 451,
 7795,
 4581,
 7792,
 7484,
 9612,
 3791,
 6602,
 5058,
 6088,
 8342,
 8915,
 5742,
 6863,
 5224,
 6091,
 652,
 8141,
 9565,
 2626,
 1427,
 8648,
 6654,
 5077,
 6809,
 9545,
 10147,
 3437,
 7189,
 9540,
 10166,
 10165,
 9340,
 5500,
 4220,
 4219,
 10164,
 10143,
 2974,
 9539,
 6808,
 2386,
 7218,
 463,
 407,
 5259,
 170,
 3696,
 563,
 7131,
 2017,
 1799,
 8452,
 1565,
 2146,
 841,
 9605,
 8369,
 2905,
 5296,
 8353,
 7326,
 9712,
 6444,
 7127,
 6026,
 6272,
 1385,
 3660,
 5089,
 9277,
 7327,
 9640,
 6447,
 3807,
 2743,
 9220,
 7164,
 6271,
 7004,
 1563,
 6183,
 2936,
 6251,
 8099,
 5000,
 2848,
 8054,
 4596,
 7102,
 7100,
 260,
 6981,
 2839,
 9735,
 8207,
 537,
 1008,
 3841,
 4422,
 7070,
 1564,
 8147,
 4505,
 9678,
 7141,
 5311,
 8104,
 9164,
 9599,
 2932,
 8233,
 8156,
 552,
 1297,
 6971,
 6398,
 6353,
 5196,
 4495,
 5105,
 145,
 6762,
 8937,
 10019,
 7420,
 7869,
 9006,
 1721,
 2211,
 6689,
 4806,
 4317,
 6549,
 1192,
 1489,
 1156,
 6897,
 4215,
 1428,
 8526,
 3259,
 5842,
 3331,
 9910,
 1585,
 9924,
 7676,
 4771,
 2556,
 3937,
 4340,
 9042,
 7394,
 7555,
 4197,
 4923,
 1142,
 10016,
 7442,
 7576,
 7731,
 1972,
 1413,
 2222,
 6834,
 5465,
 8607,
 6845,
 3473,
 654,
 5454,
 10112,
 8596,
 6857,
 368,
 10120,
 6593,
 2243,
 3888,
 2486,
 4906,
 7841,
 3431,
 3200,
 7449,
 6884,
 10044,
 4711,
 1685,
 5429,
 4828,
 3217,
 7471,
 3218,
 3926,
 6535,
 9856,
 6734,
 1912,
 9076,
 5898,
 696,
 4159,
 6752,
 7361,
 4973,
 5327,
 8474,
 605,
 6458,
 9875,
 7634,
 8487,
 2607,
 6735,
 9094,
 9107,
 5552,
 7345,
 7354,
 2602,
 5927,
 7669,
 313,
 7620,
 1855,
 9898,
 8743,
 705,
 8772,
 9098,
 699,
 2606,
 5625,
 411,
 7935,
 7365,
 7972,
 702,
 7614,
 6819,
 1919,
 6286,
 4760,
 7075,
 6820,
 255,
 9349,
 256,
 2968,
 1920,
 4554,
 9356,
 6814,
 6665,
 4825,
 8638,
 6722,
 9345,
 8314,
 2989,
 2988,
 9320,
 3644,
 7058,
 9426,
 371,
 4705,
 8727,
 8887,
 8885,
 9328,
 8603,
 8320,
 6755,
 3274,
 4837,
 1918,
 6293,
 7065,
 8620,
 4561,
 3278,
 6231,
 379,
 9419,
 8629,
 3678,
 9365,
 384,
 8796,
 8810,
 3315,
 6243,
 1450,
 6789,
 421,
 6707,
 1928,
 3413,
 249,
 3320,
 5099,
 3412,
 4780,
 3328,
 8814,
 9391,
 8792,
 2943,
 6255,
 8684,
 5100,
 3329,
 3332,
 2079,
 4774,
 2937,
 3339,
 8279,
 7105,
 7094,
 2948,
 1921,
 3425,
 4739,
 8841,
 3428,
 6796,
 4762,
 9364,
 6277,
 5085,
 402,
 8837,
 6676,
 904,
 237,
 6238,
 8663,
 8762,
 8831,
 3346,
 8828,
 8761,
 3677,
 427,
 9410,
 6267,
 252,
 8669,
 1432,
 2952,
 6265,
 3419,
 5062,
 1847,
 6853,
 3588,
 974,
 4936,
 6513,
 4646,
 1834,
 3078,
 8510,
 4953,
 1397,
 9067,
 4959,
 4960,
 6929,
 9174,
 3580,
 4641,
 4932,
 5006,
 1402,
 8409,
 335,
 6919,
 3062,
 1991,
 6393,
 465,
 487,
 3070,
 6986,
 6519,
 9038,
 3071,
 6994,
 6990,
 8417,
 466,
 9077,
 8492,
 4962,
 9117,
 4970,
 4633,
 9105,
 988,
 3117,
 6450,
 3114,
 9131,
 982,
 6950,
 3557,
 3556,
 6454,
 3110,
 9125,
 8469,
 9100,
 6472,
 8455,
 8454,
 9428,
 6936,
 9162,
 9161,
 9160,
 8485,
 4990,
 9093,
 1840,
 1843,
 4639,
 6438,
 9151,
 9150,
 8453,
 4648,
 7000,
 3257,
 4588,
 3627,
 1412,
 8576,
 6590,
 279,
 3482,
 3491,
 3011,
 9296,
 8950,
 6337,
 1408,
 2053,
 3211,
 350,
 5035,
 358,
 8928,
 1403,
 4868,
 4865,
 7051,
 4571,
 6314,
 4574,
 1415,
 4867,
 6605,
 3478,
 8913,
 8916,
 3475,
 8582,
 3235,
 4873,
 8581,
 8564,
 1825,
 498,
 8999,
 3606,
 4657,
 6377,
 3192,
 7008,
 6547,
 1984,
 9235,
 8562,
 9001,
 8395,
 1864,
 9230,
 6385,
 6386,
 9003,
 3043,
 4671,
 8982,
 8980,
 6573,
 6572,
 6568,
 2048,
 4677,
 881,
 455,
 5028,
 1511,
 9257,
 9256,
 9255,
 9254,
 8377,
 3041,
 6486,
 8973,
 2577,
 1140,
 7425,
 2522,
 3955,
 7416,
 7877,
 2533,
 5396,
 7878,
 4326,
 4328,
 7400,
 7397,
 105,
 1305,
 5384,
 7391,
 9944,
 617,
 7902,
 7904,
 7906,
 4347,
 9931,
 2557,
 5867,
 3931,
 7427,
 2519,
 5820,
 4319,
 5428,
 2483,
 7460,
 7457,
 10037,
 89,
 5787,
 7448,
 10030,
 10029,
 2489,
 90,
 7446,
 10023,
 1159,
 2215,
 10013,
 10012,
 5799,
 3971,
 10000,
 7861,
 1266,
 5816,
 5818,
 3930,
 5358,
 5891,
 5955,
 7991,
 9798,
 2637,
 2639,
 9789,
 8001,
 9786,
 2645,
 9783,
 7314,
 5292,
 8012,
 3859,
 8015,
 4403,
 3854,
 8028,
 3852,
 2667,
 582,
 1098,
 2672,
 4414,
 9730,
 6015,
 2631,
 1288,
 4357,
 9818,
 6218,
 3913,
 1123,
 2589,
 5914,
 5340,
 7948,
 7951,
 5581,
 7349,
 ...]

In [60]:
#Remove the already watched movie from index list
similar_movie_indexes.remove(movie_index)

In [61]:
def get_movie_by_index(idx):
    return movies_dataset.index[idx]
def get_movie_by_id(mv_id):
    return movies.loc[movies['movieId']==mv_id,['title']].values[0][0]
get_movie_by_index(8899)

'Background to Danger (1943)'

In [62]:
print("Since u watched --->",get_movie_by_id(latest_movieId_watched_by_user),"<--- We recommend you")
for i in range(15):
    print(get_movie_by_index(similar_movie_indexes[i]))

Since u watched ---> Collateral (2004) <--- We recommend you
Magnum Force (1973)
Punisher: War Zone (2008)
Thriller: A Cruel Picture (Thriller - en grym film) (1974)
Violent Cop (Sono otoko, kyôbô ni tsuki) (1989)
Elite Squad (Tropa de Elite) (2007)
Cop Land (1997)
Max Payne (2008)
Rampart (2011)
Get the Gringo (2012)
Hand Gun (1994)
Wild Card (2015)
Taken (2008)
Boondock Saints II: All Saints Day, The (2009)
Corruptor, The (1999)
Run All Night (2015)